.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  &__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__social-lnk {
    & a {
      width: 40px;
      height: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: $first-color;
      border-radius: 100px;
      font-size: 20px;
      border: 2px solid transparent;
      // margin-right: 5px;
      margin-left: 5px;

      &:hover {
        border: 2px solid $accent-color;
      }
    }
  }
}