.noise::before {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  content: '';
  opacity: .1;
  z-index: 9999;
  pointer-events: none;
  /* background: url('../assets/img/noise.gif') */ /* usual */
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../assets/img/noise-a.gif'); /* more darkness */
}